.bgcss { width: 12px; height: 12px; }
.bgcss0 { background-image: url('/img/250x150?g=cssbg0'); }
.bgcss1 { background-image: url('/img/250x150?g=cssbg1'); }
.bgcss2 { background-image: url('/img/250x150?g=cssbg2'); }
.bgcss3 { background-image: url('/img/250x150?g=cssbg3'); }
.bgcss4 { background-image: url('/img/250x150?g=cssbg4'); }
.bgcss5 { background-image: url('/img/250x150?g=cssbg5'); }
.bgcss6 { background-image: url('/img/250x150?g=cssbg6'); }
.bgcss7 { background-image: url('/img/250x150?g=cssbg7'); }
.bgcss8 { background-image: url('/img/250x150?g=cssbg8'); }
.bgcss9 { background-image: url('/img/250x150?g=cssbg9'); }
